.container {
    display: flex;
    height: 557px;
    align-content: space-between;
    margin-top: 145px;
      min-width: 1280px;
      width: 100%;
      position: relative;
  }

  .full-container .submit-btn {
    margin-left: 20px;
  }
  
  .leftPanel {
    min-width: 763px;
    width: 100%;
    height: 557px;
    overflow: hidden;
  }

  .leftPanel-title {
    max-width: 608px;
    font-family: Verdana;
font-weight: 700;
font-size: 34px;
line-height: 47.6px;
letter-spacing: 0%;
margin-left: 16px;
margin-bottom: 68px;
  }
  
  .rightPanel{
    min-width: 517px;
    width: 100%;
position: relative;
  }


  .leftPanel .form {
    max-width: 608px;
  }

  .rightPanel .food-list-ul {
    height: 100px;
  }

  .full-container {
    overflow-y: hidden;
  }

  .rightSideBar {
    overflow: hidden;
  }
  

    /* TABLETĂ (768px - 1280px) */
    @media (max-width: 1280px) {
      .container {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 768px;
        max-width: 1280px;
        width: 100%;
        height: 870px;
      }

      .leftPanel {
        height: 594px;
        padding-left: 10px;
        min-width: 768px;
        max-width: 1280px;
        width: 100%;
        margin-top: -120px;
        padding-top: 100px;
        border-top: 1px solid grey;
      }

      .header__logo {
        padding-left: 20px;
      }

      .rightPanel {
        height: 6px;
        min-width: 768px;
        max-width: 1280px;
        width: 100%;
        margin-top: 0px;
      }

      .rightSideBar {
        height: 326px;
        min-width: 768px;
        max-width: 1280px;
        width: 100%;

        display: flex;
        gap: 79px;
        margin: 0 auto;
        
    }
      .summary,
      .notRecommendedFoods {
        width: 288px;
height: 166px;
z-index: 200;
margin: 0 auto;
      }

.summary {
  margin-top: -60px;
}

      .header,
      .full-container {
        min-width: 768px;
        max-width: 1280px;
        width: 100%;
      }

      .nav__separator{
        display: none;
      }
      .leftPanel .form {
        flex-direction: row;
        min-width: 704px;
        width: 100%;
height: 180px;
top: 150px;

      }

      .full-container .submit-btn {
        top: 330px;
        margin-left: -40px;
      }

      .leftPanel-title {
        max-width: 704px;
        width: 100%;
        min-width: 608px;
      }

      .nav__separator {
        min-width: 768px;
        max-width: 1680px;
        left: -30px;
        width: 100%;
      }

/* Header Navbar - Ascundem doar pe CalculatorPage și pe tablete */
.header__nav.hide-nav {
  display: none;
}
 

      .userInfo {
        display: none;
      }
    }

@media (max-width: 768px) {
  .form {
    top: 400px;
    flex-direction: column;
    width: 240px;
      }

  .full-container .hamburger {
    min-width: 24px;
    min-height: 24px;
    position: relative;
    right: 8px;
  }

  .full-container .header,
  .full-container .logo__image {
    margin-left:  0;
    margin-right: 0;
  }


  .blood-type-options {
    margin: 0 auto;
    gap: 10px;
  }

  .leftPanel-title {
    font-size: 18px;
    text-align: center;
    min-width: 280px;
    margin: 0 auto;
    margin-top: -60px;
  }

  .full-container .form {
    top: 210px;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 600px;
    width: 100%;
  }

  .full-container .userInfoCalc {
    top: 70px;
    justify-content: flex-end;
    padding: 0;
    height: 40px;
    min-width: 330px;
    left: -147px;
    max-width: 778px;
    width: 100%;
  }

  .full-container .submit-btn {
  margin-left: -10px;
  top: 250px;
  }

  .full-container .rightSideBar {
    flex-direction: column;
    height: 470px;
    margin-top: -150px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

  }

  .full-container .summary {
    margin-top: -100px;
  }

  .leftPanel,
  .container,
  .full-container .rightSideBar,
  .full-container .rightPanel,
  .full-container .header,
  .full-container  {
    min-width: 320px;
    max-width: 768px;
    width: 100%;
  }

  .logo__mom, 
.logo__slim{
  display: block;
}

.leftPanel {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
    }
  
  
  