.searchForbiddenFoods {
  position: relative;
  width: 100%;
  max-width: 300px; /* Ajustează după nevoie */
  margin-top: 10px;
}

.searchInput {
  width: 100%;
  max-width: 240px;
  margin-right: 50px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding-bottom: 20px;
  margin-top: 7px;
}

.searchResults {
  display: none;
  position: absolute;
  margin-top: -10px;
  left: 0;
  width: 100%;
  max-height: 170px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 1000;
}

.searchResults li {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  list-style: none;
}

.searchResults li:hover {
  background-color: #f0f0f0;
}

.searchForbiddenFoods.active .searchResults {
  display: block;
}

.container .productForm {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    margin-top: -200px;
}


.selectedDate {
  font-size: 1.2rem;
  font-weight: bold;
}

.datePickerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.selectedDate {
  font-size: 1.2rem;
  font-weight: bold;
}

.calendarLabel {
  font-size: 1.5rem;
  margin-top: -36px;
  margin-left: -10px;
  width: 50px;
  height: 50px;
}

.calendarPicker {
  position: absolute;
  left: 270px;
  top: 15px;
  width: 20px;
  opacity: 0%;
  cursor: pointer;
}

.calendarLabel:hover {
  color: #ff7f50; /* portocaliu */
}


.addButton {
    top: 15px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 400;
    width: 48px;
    height: 48px;
    box-shadow: 0px 4px 10px 0px #FC842D80;
    left: 10px;
}

.selectedDate {
    font-family: Verdana;
font-weight: 700;
font-size: 34px;
line-height: 41.32px;
margin-left: 16px;
margin-bottom: 60px;
width: 235px;
height: 38px;

}

.gramsInput {
    margin-left: -30px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-top: 14px;
}

/* TABLETĂ (768px - 1280px) */
@media (max-width: 1280px) {
  .container,
  .container .containerProductForm {
    min-width: 768px;
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container .productForm {
    margin-top: -250px;
    width: 510px;
    transform: translate(-50%, -50%); 
    left: 50%;
    top: 40%;
  }

  .container .productList {
    min-width: 610px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container-full .header__nav {
  display: none;
}
}


@media (max-width: 768px) {

  .container-full .hamburger {
    min-width: 24px;
    min-height: 24px;
    position: relative;
    right: 8px;
  }

  .container-full .header,
  .container-full .logo__image {
    margin-left:  0;
    margin-right: 0;
  }

  .container-full .userInfoCalc {
    top: 70px;
    justify-content: flex-end;
    padding: 0 10px;
    margin: 0;
    height: 40px;
    min-width: 320px;
    left: -152px;
    width: 102%;
  }

  .container-full .userInfo {
    display: none;
  }

  .container-full .addButton {
    display: block;
    z-index: 3000;
    position: relative;
  }

  .container-full .header,
  .container-full,
  .container,
  .container .containerProductForm,
  .container .rightSideBar,
  .container .productForm
  .container .rightPanel,
  .container-full .leftPanel  {
    min-width: 320px;
    max-width: 768px;
    width: 100%;
  }

  .container .productList {
  
    padding-left: 32px;
    margin-top: -200px;
    min-width: 320px;
    max-width: 768px;
    width: 100%;
    height: auto;
    right: 0;

    
  }

  .container-full .rightSideBar {
flex-direction: column;
height: auto;
top: -90px;
overflow-y: auto;
margin: 0;
padding-left: 32px;
min-width: 320px;
align-items: center;
  }


  .container-full .summary-title-h3{
    margin-top: 40px;
  }

  .container-full .summary-title-h4{
    margin-top: 0px;
  }
  .container-full .rightSideBar::before {
    background: none;
      }
  .container-full .rightPanel {
    min-width: 280px;
    width: 100%;
    height: auto;
    top: 70px;
position: relative;
  }

  .container .summary,
  .container .notRecommendedFoods  {
    margin: 0;
  }

  .container-full .notRecommendedFoods {
    height: auto; /* Elimină înălțimea fixă */
    max-height: 50vh; /* Se ajustează în funcție de ecran */
    overflow-y: auto; /* Activează scroll doar dacă este nevoie */
    padding-bottom: 10px;
  }
.container .containerProductForm,
.container-full .leftPanel {
  margin-left: auto;
  margin-right: auto;
}

.container-full .leftPanel {
  margin-bottom: 30px;
}
  /* .container .productList::-webkit-scrollbar{
    width:30px;
    margin-left: -400px;
    left: -300px;
  } */

  .container .removeButton {
    margin-left: -20px;
  }


  .container .productRow {
    padding-left: 0;
    min-width: 320px;
    width: 100%;
  }
/* 
  .container-full .exitButton {
    margin: 0;
    padding-right: 20px;
  } */

  .container .nameColumn,
  .container .line-1 {
    min-width: 130px;
    margin-right: 2px;
    width: 100%;
  }
  .container .gramsColumn,
  .container .line-2 {
    min-width: 49px;
    width: 100%;
  }
  .container .kcalColumn,
  .container .line-3 {
    min-width: 58px;
    width: 100%;
  }

  .container .gramsColumn {
    margin-top: 20px
  }

  .container .productForm {
    display: none;
  }


    }
  