.blood-type-options {
    display: flex;
    gap: 20px;
    width: 240px;
    flex-wrap: wrap;
  }

  .form {
    max-width: 608px;
}

.modal-btn {
  display: none;
}
  
  .blood-type-label {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -10px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  
  .blood-type-label input {
    display: none; /* Ascunde radio buttons */
  }
  
  .radio-circle {
    width: 20px;
    height: 20px;
    border: 1px solid #848383; /* Gri închis */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .radio-circle::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .blood-type-label.active .radio-circle::before {
    background-color: orange; /* Mijlocul cercului portocaliu la selectare */
  }
  
  .blood-type-number {
    font-size: 14px;
    font-weight: 300;
    color: #757373;
    transition: color 0.3s;
  }
  
  .blood-type-label.active .blood-type-number {
    color: orange;
  }

  .input-bottom-border {
    border: none;
    display: flex;
    border-bottom: 1px solid #CCC;
    background: transparent;
    margin-bottom: 0;
    margin-top: -25px;
    width: 300px;
    font-size: 16px;
    padding: 5px;
    color: transparent;
  }
  
/* DailyCaloriesForm.css */
/* Modal */

/* Overlay */.overlay-main {
  position: fixed;
  top: 50%;  /* Plasează elementul la 50% de la marginea de sus */
  left: 50%; /* Plasează elementul la 50% de la marginea din stânga */
  transform: translate(-50%, -50%); /* Mișcă elementul înapoi pentru a-l centra */
  width: 100%;
  height: 100%;
  background: #2121211F; /* gri deschis */
  z-index: 999; /* asigură-te că este sub modal */
  display: none; /* ascunsă în mod implicit */
}


.column .submit-btn {
  min-width: 210px;
  font-size: 14px;
  padding: 13px 25px;
height: 43px;

}

/* Când modalul este deschis, overlay devine vizibil */
.modal-open-main .overlay-main {
  display: block;
}

.modal-open-main body {
  background:#2121211F;
  /* schimbă fundalul paginii în gri deschis */
}
.modal-main {
  position: fixed;
  top: 138px;
  left: 304px;
  width: 672px;
  height: 574px;
  background-color: #FFFFFF;
  box-shadow: 0px 22px 40px 0px #0000001A;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  font-family: Verdana;
  font-weight: 700;
  font-size: 26px;
  line-height: 36.4px;
  letter-spacing: 0%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  top: -25px;
}

.close-btn {
  position: absolute;
  top: 10px;
  color: black;
  background-color: transparent;
  left: 520px;
  font-size: 20px;
  cursor: pointer;
}

.modal-main-title {
  margin-top: 44px 0 20px;
  padding-left: 40px;
  text-align: center;
  max-width: 410px;
  font-size: 26px;
  line-height: 140%;
}

.kcal {
  font-size: 48px;
line-height: 100%;
letter-spacing: 4%;

}

.kcal-p {
  margin-top: 20px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.modal-main hr {
  border: 0;
  border-top: 1px solid lightgray;
  margin: 12px auto;
  width: 330px;
}

.modal-main h4 {
  font-size: 14px;
  text-align: left;
  padding-left: 90px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}


ul li {
  text-align: left;
  padding-left: 90px;
  font-family: Verdana;
  font-weight: 400;
  font-size: 14px;
  color: #9B9FAA;
  line-height: 17.01px;
  letter-spacing: 4%;
  margin-bottom: 15px;
}

.modal-main-start-btn {
  background-color: #FC842D;
  position: relative;
  top: 20px;
  left: 120px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

  /* TABLETĂ (768px - 1280px) */
  @media (max-width: 1280px) {

      .modal-main{
        width: 672px;
       height: 572px;
       left: 50%; /* Plasează elementul la 50% de la marginea din stânga */
       top: 50%;
  transform: translate(-50%, -50%); /* Mișcă elementul înapoi pentru a-l centra */
      }
    }

    .column .blood-type-options .submit-btn {
      left: -330px;
      margin-top: -170px;
    }

@media (max-width: 768px) {
  .modal-main-title {
    padding-left: 0;
  }
.modal-main-start-btn {
  left: 60px;
}

  .modal-content-main h3 {
    font-size: 18px;
    margin: 0 5px 42px;
  }

  .modal-content-main h4 {
    padding: 35px;
  }
  .form {
    display: flex;
    flex-direction: column;
    height: 269px;
    margin-top: 74px;
    width: 240px;
    gap: 10px;
    align-content: center;
    transform: translate(-50%, -50%); 
    left: 50%;
    top: 33%; 
    
  } 
  
  .modal-list-main  li{
    padding: 0;
  }

  .modal-list-main {
    max-width: 280px;
    margin: 0 auto;
  }
  
  .form label,
  .form input {
    width: 240px;
    margin: 0 auto;
  }

  .blood-type-options {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .column .blood-type-options .submit-btn {
    margin-top: -200px;
    left: -240px;
    bottom: 910px;
    width: 210px;
  }

  .modal-main {
    max-width: 768px;
    width: 100%;
    height: 92%;
    margin-top: 40px;
background-color: white;
left: 50%;
border-top: 2px solid gray;
z-index: 800;
  }

.overlay-main {
  /* background-color: #EFF1F3; */
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  top: 30.5px;
  height: 40px;
  margin-top: 70px;
  z-index: 999;
}

  .close-btn {
    display: none;
  }

  .modal-btn-main {padding: 0;
    margin-left: 80px;
    position: absolute;
    display: block;
    top: -100px;
    left: -149px;
    font-size: 30px;
    color: black;
    background-color: transparent;
    z-index: 2000;
  }

  .modal-content-main {
    height: 300px;
    margin-top: -380px;
  }
  
    }

    /* @media (max-width: 458px) {
      .modal-btn {
        top: -175px;
        margin-left: 110px;
      }
    } */
