/* Header styling */
.header {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-left: 16px;
    margin-bottom: 147px;
    min-width: 1280px;
    width: 100%;
  }
  
  .header__logo {
    display: flex;
    font-size: 22px;
    font-weight: 100;
  }

  .logo__slim {
    margin-left: -10px;
  }

  .logo__mom {
    color: #FC842D;
  }

  .nav__separator {
    width: 2px;
    height: 32px;     
    background-color: #E0E0E0;
    margin: 46px 20px 0px;
  }

  .header__nav {
    padding-top: 58px;
    display: flex;
    gap: 24px;
  }
      
  .header__logo span {
    padding-top: 46px;
    letter-spacing: 0.15em;
  }
  
  .logo .highlight {
    color: #FC842D;
  }
  
  .header__nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #9B9FAA;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    height: 17px;

  }
  
  .nav a:hover {
    color: black;
  }
  
  .nav__link.active {
    color: black;
  }
  
  /* TABLETĂ (768px - 1280px) */
@media (max-width: 1280px) {
  .header {
    min-width: 704x;
    max-width: 1215px;
    width: 100%;
    margin: 20px 0 16px;
    padding: 0;
    height: 44px;
  }

  .header__logo {
    font-size: 18px;
  }

  .nav__separator {
    min-width: 1280px;
    position: relative;
    top: 20px;
    left: -93px;
    margin-left: 0;
    margin-right: 0;
    height: 2px;     
    z-index: 3;
    background-color: #E0E0E0;
  }

  .logo__image {
    width: 44px;
    height: 46px;
  }

  .logo__slim {
    margin-left: 3px;
    margin-top: -33px;
  }

  .logo__mom {
    margin-top: -33px;
  }

  .header__nav {
    padding-top: 20px;
    padding-left: 0;
    position: absolute;
    right: 32px;
  }
  
}

@media (max-width: 768px) {
  .header {
    min-width: 320x;
    max-width: 768px;
    width: 100%;
    margin-left: -18px;
  }

  .header__nav {
    gap: 9px;
  }

  .logo__image {
    margin-left: 40px;
    width: 40px;
    height: 46px;
  }
.logo__mom, 
.logo__slim{
  display: none;
}

}